

.tabs-container{
display: flex;
}
.tabs{
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.tabs-content {
    padding: 5px;
    height: 300px;
    border: 1px solid black;
    display: flex;
}
.submit, .next, .prev{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
.error{
    color: red;
}